<main class="form-signin">
  <form [formGroup]="registerForm" (ngSubmit)="OnSubmit()">
    <h1 class="h3 mb-3 fw-normal">Please Register</h1>
    <div class="form-floating">
      <input
        formControlName="name"
        type="text"
        class="form-control"
        placeholder="John doe"
      />
      <label for="floatingInput">Name</label>
      <div *ngIf="registerForm.controls['name'].dirty && registerForm.hasError('required' ,'name')">Name required</div>
      <div *ngIf="registerForm.hasError('pattern' ,'name')">Please provide a valid name</div>
    </div>
    <br />
    <div class="form-floating">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
      <div *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required' ,'email')">Email required</div>
      <div *ngIf="registerForm.hasError('pattern' ,'email')">Please provide a valid email</div>
    </div>
    <br />
    <div class="form-floating">
      <input
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
      <div *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required' ,'password')">Password required</div>
    </div>
    <br />
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted">
      Already have an account?
      <u class="Login" (click)="gotoLoginButton()">Login</u>
    </p>
  </form>
</main>
