<main class="form-signin">
  <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
    <h1 class="h3 mb-3 fw-normal">Please log in</h1>
    <div class="form-floating">
      <input
        formControlName="Email"
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
      <div *ngIf="loginForm.controls['Email'].dirty && loginForm.hasError('required' ,'Email')">Email required</div>
      <div *ngIf="loginForm.hasError('pattern' ,'Email')">Please provide a valid email</div>
    </div>
    <br />
    <div class="form-floating">
      <input
        formControlName="Password"
        [type]="hide ? 'password' : 'text'"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
      <div *ngIf="loginForm.controls['Password'].dirty && loginForm.hasError('required' ,'Password')">Password required</div>
    </div>
    <br />
    <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
    <p class="mt-5 mb-3 text-muted">
      Don't have an account?
      <u class="register" (click)="GotoRegisterButton()">Register</u>
    </p>
  </form>
</main>
