<header
  class="d-flex flex-wrap align-items-center justify-content-between justify-content-md-between py-3 mb-4 border-bottom px-4"
>
  <a
    href="/"
    class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="#0d6efd"
      class="bi bi-house-door-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"
      />
    </svg>
  </a>

  <div class="col-md-3 text-end">
    <div *ngIf="isLoggedIn$ | async">
      <button
        *ngIf="role == 'Teacher'"
        type="button"
        class="btn btn-primary me-2"
        (click)="adminDashbordButton()"
      >
        Admin
      </button>
      <button type="button" class="btn btn-primary" (click)="logOutButton()">
        Logout
      </button>
    </div>
    <div *ngIf="!(isLoggedIn$ | async)">
      <button
        type="button"
        class="btn btn-outline-primary me-2"
        (click)="gotoLoginButton()"
      >
        Login
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="gotoRegisterButton()"
      >
        Sign-up
      </button>
    </div>
  </div>
</header>
